* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fontsize: .8rem;
    /*for screen less than 600*/
    --gap: .3rem;
    --padding: .4rem;
    transition: all 600ms;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: min(1200px, 95%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header-area" "session-area" "classlist-area" "classdetails-area" "studentlist-area";
    padding-top: calc(var(--padding)*8);
    padding-bottom: calc(var(--padding)*8);
    border-bottom: solid 1px yellow;
    animation: fadein 300ms linear;
    background-color: rgb(217, 248, 151);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-area {
    grid-area: header-area;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo-area logout-area";
    /*border:solid 1px black;temporary,just to view*/
    gap: var(--gap);
    padding: var(--padding);
    border-bottom: solid 1px green;
}

.logo-area {
    grid-area: logo-area;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logout-area {
    grid-area: logout-area;
    display: flex;
    justify-content: end;
    align-items: center;
}

.session-area {
    grid-area: session-area;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "label-area" "dropdown-area";
    gap: var(--gap);
    padding: var(--padding);
    border-bottom: solid 1px green;
}

.label-area {
    grid-area: label-area;
    font-size: calc(var(--fontsize)*.8);
    padding-left: calc(var(--padding)*.6);
}

.dropdown-area {
    grid-area: dropdown-area;
    font-size: calc(var(--fontsize)*1);
    padding-top: calc(var(--padding));
    padding-bottom: calc(var(--padding));
}

.classlist-area {
    grid-area: classlist-area;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: var(--padding);
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px green;
}

.classdetails-area {
    grid-area: classdetails-area;
    gap: var(--gap);
    padding: var(--padding);
    border-bottom: solid 1px green;
    text-transform: uppercase;
}

.studentlist-area {
    grid-area: studentlist-area;
    /*dummy colors;just to view*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
    border-bottom: solid 1px yellow;
}

.button {
    background-color: rgb(23, 119, 23);
    /* Green */
    border: none;
    padding: var(--padding);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fontsize);
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: yellow;
    /* Smooth hover transition */
}

.redclose {
    background-color: #a1190c;
    /* Green */
    color: white;
    min-width: calc(2*var(--fontsize));
    min-height: clac(2*var(--fontsize));
}

.button:hover {
    background-color: darkgreen;
    /* Darker green on hover */
    transform: translateY(-3px);
}

.btnlogout {
    font-size: var(--fontsize);
    width: 5em;
    padding: var(--padding);
    background-color: rgb(23, 119, 23);
    color: yellow;
    border: solid 1px yellow;
    border-radius: .1em;
}

.logo {
    font-size: calc(var(--fontsize)*2.6);
    color: rgb(23, 119, 23);
}

.ddlclass {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: green;
    font-weight: 650;
    border-bottom: solid 1px green;
    margin-right: 0px;
}

.sessn {
    color: red;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-right: 5px;
}

.classcard {
    font-size: calc(var(--fontsize)*1);
    width: 4em;
    height: 3.5em;
    border-radius: .2em;
    background-color: rgb(23, 119, 23);
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classcard:hover {
    background-color: yellow;
    color: rgb(23, 119, 23);
    font-weight: 700;
    animation: tilt 450ms linear;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-30deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(25deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.classdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "title-area title-area" "code-area ondate-area";
    gap: var(--gap);
    font-size: var(--fontsize);
    color: green;
    font-weight: 600;
}

.title-area {
    grid-area: title-area;
    display: flex;
    justify-content: start;
    align-items: center;
}

.code-area {
    grid-area: code-area;
    display: flex;
    justify-content: start;
    align-items: center;
}

.ondate-area {
    grid-area: ondate-area;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ondate-area>input {
    font-size: var(--fontsize);
    background-color: transparent;
    border: none;
    border-bottom: solid 1px green;
    outline: none;
}

.studenttlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: green;
    font-weight: 800;
}

.studenttlist>label {
    font-size: calc(var(--fontsize)*.8);
}

.dstudentdetails {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "dslno-area drollno-area dattended-area dpercent-area" "dname-area dname-area dname-area dsent-area" "demail-area demail-area demail-area dsent-area";
    gap: var(--gap);
    width: 100%;
    font-size: var(--fontsize);
    padding-top: calc(var(--padding)*1.5);
    padding-bottom: calc(var(--padding)*1.5);
    padding-left: calc(var(--padding)*1.5);
    padding-right: calc(var(--padding)*1.5);
    border-bottom: solid 1px rgb(211, 211, 26);
    transition: all 300ms;
    /*text-transform: uppercase;*/
}

.studentdetails {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "slno-area rollno-area attended-area percent-area checkbox-area" "name-area name-area name-area name-area checkbox-area";
    gap: var(--gap);
    width: 100%;
    font-size: var(--fontsize);
    padding-top: calc(var(--padding)*1.5);
    padding-bottom: calc(var(--padding)*1.5);
    padding-left: calc(var(--padding)*1.5);
    padding-right: calc(var(--padding)*1.5);
    border-bottom: solid 1px rgb(23, 119, 23);
    transition: all 300ms;
    color: white;
    font-weight: 600;
    /*text-transform: uppercase;*/
}

.studentdetails:hover {
    background-color: rgb(23, 119, 23);
    color: yellow;
}

.reportsection {
    width: 100%;
    font-size: var(--fontsize);
    padding: calc(var(--padding)*1.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(217, 248, 151);
    ;
}

#pStatus {
    color: red;
}

.divstatus {
    width: 100%;
    font-size: var(--fontsize);
    padding: calc(var(--padding)*1.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divsendmailbtn {
    width: 100%;
    font-size: var(--fontsize);
    padding: calc(var(--padding)*1.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaulterStudentList {
    width: 100%;
}

.divSendEmailNotification {
    width: 100%;
}

.divSendEmailNotificationInner {
    width: 100%;
    font-size: var(--fontsize);
    padding: calc(var(--padding)*1.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(217, 248, 151);
    color: green;
    font-weight: 700;
}

.transparent-textbox {
    border: none;
    /* Remove default border */
    border-bottom: 1px solid black;
    /* Add bottom border */
    background-color: transparent;
    /* Make background transparent */
    outline: none;
    /* Remove outline on focus */
    padding: calc(var(--padding)*1.5);
    margin: calc(var(--padding)*1.5);
}

#closeBtnPanel {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.searchSendEmail {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: calc(var(--padding)*1.5);
}

.checkbox-area {
    display: flex;
    justify-content: end;
    align-items: center;
}

.checkbox-area>input {
    font-size: var(--fontsize);
    width: 1.5em;
    height: 1.5em;
}

.slno-area {
    grid-area: slno-area;
}

.rollno-area {
    grid-area: rollno-area;
}

.name-area {
    grid-area: name-area;
    text-transform: uppercase
}

.attended-area {
    grid-area: attended-area;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.percent-area {
    grid-area: percent-area;
}

.dslno-area {
    grid-area: dslno-area;
}

.drollno-area {
    grid-area: drollno-area;
}

.dname-area {
    grid-area: dname-area;
    text-transform: uppercase
}

.dattended-area {
    grid-area: dattended-area;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.dpercent-area {
    grid-area: dpercent-area;
}

.demail-area {
    grid-area: demail-area;
}

.dsent-area {
    grid-area: dsent-area;
}

.checkbox-area {
    grid-area: checkbox-area;
}

.absentcolor {
    background-color: rgb(143, 24, 24);
}

.presentcolor {
    background-color: yellow;
    color: green;
    font-weight: 600;
}

#overlay {
    background: #171616;
    color: #f60707;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: 0.8;
}

.subLabel {
    font-size: .5rem;
}

.boldlabel {
    font-weight: bold;
    color: green;
}

#divReport {
    width: 0px;
    height: 0px;
}


/* Basic styles for the navbar */

.navbar {
    background-color: rgb(23, 119, 23);
    overflow: hidden;
    font-size: calc(var(--fontsize)*.8);
}


/* Style for the navbar buttons */

.navbar a {
    float: left;
    display: block;
    color: yellow;
    text-align: center;
    padding: calc(var(--padding)*.6) calc(var(--padding)*.6);
    text-decoration: none;
}


/* Style for the hover effect */

.navbar a:hover {
    background-color: yellow;
    color: rgb(23, 119, 23);
    font-weight: 600;
}

@media only screen and (min-width:600px) {
    * {
        --fontsize: .9rem;
        /*for screen less than 767 > 600*/
    }
}


/*if the screen size is larger than 600px*/

@media only screen and (min-width:767px) {
    * {
        --fontsize: 1rem;
        /*for screen  > 767*/
    }
    .session-area {
        grid-template-columns: .5fr .5fr 1fr .5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "... label-area dropdown-area ...";
    }
    .label-area {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-left: calc(var(--var)*1);
    }
    .classdetails {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "code-area title-area ondate-area";
        padding-bottom: calc(var(--padding)*1);
        padding-top: calc(var(--padding)*1);
    }
    .studentdetails {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "slno-area rollno-area name-area attended-area percent-area checkbox-area";
        /*removed properties,it means they are the same settings*/
    }
    .dstudentdetails {
        display: grid;
        grid-template-columns: .5fr 2fr 7fr 1.5fr 1.5fr 7fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "dslno-area drollno-area dname-area dattended-area dpercent-area demail-area dsent-area";
        /*removed properties,it means they are the same settings*/
    }
    .studentdetails>* {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .attended-area {
        grid-area: attended-area;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}